body, html{margin: 0; padding: 0; height: 100%; -webkit-tap-highlight-color: transparent;}
body{background: #EEEEEE;}
.bgcolor_f{background: #fff;}
.color_gray2{color: #999;}
.color_black{color: #000;}
.color_red{color:#F25317; }
.size_14{font-size: 14px;}
.size_16{font-size: 16px;}
.size_12{font-size: 12px;}
.text_right{text-align: right;}
.text_center{text-align: center;}
.no_magrin_top{margin-top: 0;}
.fl_right{float: right;}
.padding_new{padding: 5px 15px;}
.btn_blue{background-color: #4A98E1}
.btn_bottom{background: #4A98E1; border-radius: 0;}


.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{color:#4A98E1; }
.weui-bar__item--on .weui-tabbar__icon i{color:#4A98E1;}
.weui-footer_fixed-bottom{bottom: 0;}
.weui-media-box__info__meta{padding: 2px;}

.js_grid{width: 100%; padding: 10px 10px;}
.js_grid:before{border:none;}
.js_grid:after{border:none;}
.ico_grid .weui-grid__icon{width: 35px;height: 35px;}
.list_item .weui-cell__bd{padding-left: 20px;}
.list_block_title{color: #000; font-size: 16px; margin-bottom: 0; padding: 10px 15px;}
.second_tab_item{position: relative; display: block;-webkit-box-flex:1;-webkit-flex:1;flex: 1;padding: 10px 0;text-align: center;font-size: 15px; color: #000;}
.item_active{border-bottom: 2px solid #4A98E1; color: #4A98E1;}
.second_tab_bd{padding-top: 45px !important;}
.second_tab_bd_item{display: none;height: 100%; overflow: auto;}
.tab_bd_active{display: block;}
.panel_box{padding: 5px 15px;}
.item_margin_bottom{margin-bottom: 15px;}
.bg_button_color{background: #4A98E1; margin: 50px 20px; border-radius: 10px; font-size: 17px;}
.coupon_money{color: #4A98E1; font-size: 28px; font-weight: 600; margin-right: 10px; }
.btn_SY{background-color: #FC6601; border-radius: 20px; font-size: 12px;}
.coupon_des{color: #999; font-size: 14px; margin: 5px 15px;}
.coupon_money_sx{color: #999;font-size: 28px; font-weight: 600; margin-right: 10px;}
.address_list{padding: 5px 15px;}
.input_radio{padding: 0;}
.weui-cells_checkbox .input_radio .weui-icon-checked:before{font-size: 18px;}
.address_list:before{border: none;}
.link_a{font-size: 28px;color: #666; text-align: center; margin-top: 50px; display: block;}
.panel_list_black{color: #666; font-size: 14px;}
.btn_new{width: 60%; margin: 0 auto; margin-top: 50px; border-radius: 10px;}
.userinfo_box{background-color:#4A98E1;color: #fff; text-align: center; }
.info_img{position:relative; top:50%; left: 50%; transform:translate(-50%,-50%); display: flex;justify-content: center; }
.info_img .toux{box-sizing:border-box; height: 65px; width: 65px;}
.info_img img{border-radius: 50%; height: 65px; width: 65px;}
.info_img .info{box-sizing:border-box; margin-left: 10px; padding-top: 10px;}
.list_img{margin-right: 15px;}
.row{}
.col_3{width: 22%;float: left;}
.col_9{width: 78%;float: left;}
.col_8{width: 65%;}
.ul_left{list-style: none; margin: 0;padding: 0; height: 30px; line-height: 30px;}
.ul_li_item{display: block; height: 45px; line-height: 45px; text-align: center; background-color: #EEE; color: #000;margin-bottom: 5px;}
.left_item_active{background-color: #fff;}
.order_item,.pay_item{padding: 8px;}
.order_item .order_img{width: 80px;height: 80px;}
.order_item .order_img img{height: 100%;}
.order_item .weui-media-box__desc{margin: 5px 0;}
.order_money{color:#4A98E1; font-size: 16px; font-weight: 600; display: inline-block; height: 25px; line-height: 25px; }
.order_suanfa{float: right; margin-right: 15px;}
.order_suanfa .weui-count__btn{height: 16px; width: 16px;}
.order_suanfa .weui-count__number{font-size: .7rem;}
.order_item:before,.weui-media-box:before{border: none;}
.footer_total{background-color: #E5E5E5; color: #E41310; text-align: center; height: 46px; line-height: 46px;}
.btn_noradius{border-radius: 0;}
.sub_order_num{display: inline-block; margin: 10px 0; color: #CF3051; font-size: 16px;}
.block_right_margin{float: right; font-size: 13px !important;}
.pay_item .order_img{width: 70px;height: 70px;}
.pay_item .order_img img{height: 100%;}
.title_noboder:after{border: none;}
.border_all:before{left: 0;}
.input_border{border:1px solid #999; margin-left: 10px; width: 80%;height: 1.7em;}
.pay_box{margin-top: 50px; text-align:center; }
.pay_input{width: 60%; height: 50px; border:1px solid #999; margin: 10px auto; position: relative;}
.pay_input_ico{font-size: 26px; position: absolute;left:6px;top: 4.5px;}
.pay_input input{padding-left:40px; margin-top: 16px;}
.li_operat{height: 30px; line-height: 30px;}
.mar_bottom{height: 53px;}
@media screen and (max-width: 414px) {
    .userinfo_box{height: 200px;}
    .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{height: 200px;}
}
@media screen and (max-width: 320px) {
    .userinfo_box{height: 180px;}
    .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide{height: 160px;}
}


.weui-cell ul{width:100%;height:auto;display: block;}
.placeholder{text-align: center;line-height: 40px;}
.placeholder span{color:red;}
.weui-cell ul li:first-child{border-bottom:1px solid #e5e5e5;}
.weui-panel:after{border-bottom: 1px solid transparent!important;}
.weui-cells:after, .weui-cells:before{color:transparent!important;}
.weui-cells:before{border-top: 1px solid transparent!important;}
.wc:after{border-bottom: 1px solid transparent!important;}
.weui-btn_primary {background-color: #4A98E1!important;}
.wb,.wf{color:#4A98E1!important;}
.we-f{border-bottom:1px solid transparent!important;width:100%;}
.weui-notification { min-height: 0.1rem!important;  background-color: #4A98E1;  }
.weui-notification .weui-notification__handle-bar{display: none!important;}
.weui-notification .weui-notification__inner{padding:0!important;}
.weui-notification .weui-notification__title{text-align: center;}
.money{color:red;}
.nub{float:right;color:red;font-style: normal;margin-right:8px;}
.wd{height:30px;line-height: 30px;}
.wp{margin-top:0!important;width:120px!important;}
.weui-btn_plain-primary { color: #4A98E1;  border: 1px solid #4A98E1;  }
.weui_cell_ft {  text-align: right;  color: #888;  }
.weui-number-sub {  border-right: none;  padding: 3px 10px;  border-radius: 2px 0 0 2px;  }
.weui-number {float: left;  height: 20px;  font-size: 25px;  line-height: 18px;color: #4A98E1;border: 1px solid #ececec;  }
.weui_cells_form input, .weui_cells_form label[for], .weui_cells_form textarea {-webkit-tap-highlight-color: rgba(0,0,0,0);  }
.weui-number-input {  float: left;  height: 20px;  font-size: 20px;  color: #666;
    -webkit-appearance: none;  appearance: none;  border: 1px solid #ececec;  padding: 3px 0;  text-align: center;  border-radius: 1px;  }
.weui-number-plus {  border-left: none;  margin-right: 5px;  padding: 3px 8px;  border-radius: 0 2px 2px 0;  }
.weui-cell__bd p{line-height: 30px;}
.weui-cell__bd p span{display: block;height:inherit;float:left;}
.weui-cell__bd p img{width:20px;height:20px;float:left;margin-top:5px;}
.kong{width:100%;height:100px;text-align: center;}
.kong p{line-height: 100px;font-size: 18px;color:#666;}