<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启日志-->
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!--批量起别名-->
    <typeAliases>
        <!--指定到包名，mybatis自动扫面包中的类，别名就是类名-->
        <package name="com.huayu.*.*"></package>
    </typeAliases>
    <!--配置分页插件拦截器-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>
